<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="true">
    <property name="LOG_DIR" value="${catalina.base}/logs"/>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/spring-msg-fetcher-log_%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

<!--    <logger name="org.redisson.cluster.ClusterConnectionManager" level="ERROR"></logger>-->
<!--    <logger name="org.redisson.command.CommandAsyncService" level="ERROR"></logger>-->
<!--    &lt;!&ndash;<logger name="springfox.documentation.spring.web.PropertySourcedRequestMappingHandlerMapping" level="OFF"></logger>&ndash;&gt;-->
<!--    <logger name="com.centaline" level="debug"></logger>-->
<!--    <logger name="com.paranora.conf" level="debug"></logger>-->
<!--    <logger name="com.ctrip.framework.apollo.openapi" level="debug"></logger>-->
<!--    <logger name="httpclient" level="WARN"/>-->
<!--    <logger name="com.zaxxer.hikari.pool" level="INFO"/>-->
<!--    <logger name="org.springframework" level="ERROR"></logger>-->
<!--    <logger name="org.springframework.remoting.httpinvoker" level="ERROR"></logger>-->
<!--    <logger name="org.springframework.data.redis.cache" level="ERROR"></logger>-->
<!--    <logger name="org.springframework.beans.TypeConverterDelegate" level="ERROR"></logger>-->

    <Logger name="org.springframework.kafka.test" level="warn"/>
    <Logger name="org.apache.kafka.clients" level="warn"/>
    <Logger name="org.apache.kafka.clients.NetworkClient" level="error"/>
    <Logger name="org.apache.kafka.common.network.Selector" level="error"/>
    <Logger name="kafka.server.ReplicaFetcherThread" level="error"/>
    <Logger name="kafka.server.LogDirFailureChannel" level="fatal"/>
    <Logger name="kafka.server.BrokerMetadataCheckpoint" level="error"/>
    <Logger name="kafka.utils.CoreUtils$" level="error"/>
    <Logger name="org.apache.kafka.clients.producer.internals.TransactionManager" level="warn"/>
    <Logger name="org.apache.zookeeper.server.ZooKeeperServer" level="fatal"/>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ROLLING_FILE"/>
    </root>
</configuration>